
<div class="b1">
    <div class="container1">
        <h1 style="margin-left: 350px;"><b>Sales and Forecast</b></h1>
        <img src="assets\forecast.png" alt="temp" style="height:490px; padding-left: 50px;padding-top:-10px; width:900px;">    </div>
    <div class="container2">
        <h1 style="margin-left: 350px;"><b>Sales Vs Forecast</b></h1>
        <img src="assets\predict.png" alt="temp" style="padding-top:-10px;padding-left: 50px;height:490px;width:900px">
            <h2 style="margin-right: 420px;"><b>Result:</b></h2>
            <ul>
                <li>mae:<span>{{mae}}</span></li>
                <li>rmse:<span>{{rmse}}</span></li>
            </ul>       
    </div>
    <br><br>
</div>
